{
  "version": 1.0,
  "project": "NEW-111-MFCx-config-as-code-${repo}-${branch}",
  "sast": {
    "preset": "High and Medium",
    "engineConfiguration": "",
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "",
    "folderExcludes": "docs,core,models"
  },
"additionalProperties": {
    "cxFlow": {
      "application": "MF:test-app",
      "branches": ["scan-branch-test", "main", "master"]
    }
  }  
}
